<h1>Edit your Robot</h1>

<form action="/robots/<%= @robot.id %>" method="POST">
  <input type="hidden" value="PUT" name="_method">
  <input type="text" name="robot[name]" value="<%= @robot.name %>"><br>
  <input type="text" name="robot[city]" value="<%= @robot.city %>"><br/>
  <input type="text" name="robot[state]" value="<%= @robot.state %>"><br/>
  <input type="text" name="robot[birthdate]" value="<%= @robot.birthdate %>"><br/>
  <input type="text" name="robot[date_hired]" value="<%= @robot.date_hired %>"><br/>
  <input type="text" name="robot[department]" value="<%= @robot.department %>"><br/>
  <input type="text" name="robot[avatar]" value="<%= @robot.avatar %>"><br/>
  <input type="submit" value="Update Robot"/>
</form>
